Checks: '*,-hicpp-no-assembler,-google-readability-todo,-misc-unused-parameters,-hicpp-signed-bitwise,-hicpp-multiway-paths-covered,-cert-msc30-c,-cert-msc50-cpp,-cert-msc32-c,-cert-msc51-cpp,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-bugprone-narrowing-conversions,-cppcoreguidelines-narrowing-conversions,-readability-isolate-declaration,-readability-non-const-parameter,-altera-*,-llvmlibc-*,-bugprone-easily-swappable-parameters,-readability-function-cognitive-complexity,-concurrency-mt-unsafe,-misc-no-recursion,-cppcoreguidelines-avoid-non-const-global-variables'
